html {
  font-family: "Raleway", sans-serif;
  scroll-behavior: smooth;
}
/*Typography*/
h1 {
  font-size: 64px;
  font-weight: 500;
  margin: 0;
  color: #201e29;
}
h2 {
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  color: #201e29;
}
h3 {
  font-size: 32px;
  font-weight: 700;
  color: #201e29;
  margin: 0;
}
h4 {
  font-size: 24px;
  font-weight: 700;
  color: #201e29;
  margin: 0;
}
h5 {
  font-size: 16px;
  font-weight: 700;
}
p,
.exp-duty,
.contacts-info {
  font-size: 16px;
  margin: 16px auto;
}
.exp-duty:before {
  content: "</>";
  font-weight: 700;
  color: #ea703d;
}
.nav-link-style {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
}
.company-name,
.job-title-2 {
  font-size: 24px;
  font-weight: 500;
  color: #ea703d;
  text-transform: uppercase;
}
.exp-period {
  font-weight: 500;
  margin: 8px 0 8px 0;
  line-height: 2;
}
.card-caption {
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
  background-color: #201e29;
  padding: 4px;
}
/*Buttons styles*/
.button-style-1 {
  min-width: 180px;
  padding: 16px 16px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 32px;
  background-color: #ea703d;
  border: none;
  color: #fff;
}
.button-style-1:hover {
  background-color: #cc4e18;
  transition: 200ms;
}
.button-style-2 {
  min-width: 184px;
  padding: 16px 0;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 32px;
  background-color: transparent;
  border: 2px solid #201e29;
  color: #201e29;
  text-align: center;
  text-decoration: none;
}

.button-style-2:hover,
.button-style-2:active {
  text-decoration: none;
  color: #fff;
}
.button-style-2:hover {
  background-color: #201e29;
  color: #fff;
  transition: 200ms;
}
button i {
  margin-left: 16px;
}
/*Main styling*/
body {
  background-color: #fff;
  max-width: 1280px;
  margin: 0 auto;
}
/*Invitation block*/
header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: fit-content;
  padding-top: 16px;
  padding-bottom: 8px;
  border-bottom: 2px solid #201e29;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}
header img {
  width: 80px;
  height: 80px;
}
nav ul {
  margin: 0;
  padding: 0;
}
nav ul * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}
.nav-item {
  display: inline-block;
  list-style: outside none none;
  margin: 0 8px;
  padding: 0;
}
.nav-item a {
  padding: 8px 16px;
  display: block;
  position: relative;
  text-decoration: none;
  color: #595959;
}
.nav-item a:before,
.nav-item a:after {
  height: 16px;
  width: 16px;
  position: absolute;
  content: "";
  transition: all 0.35s ease;
  opacity: 0;
}
.nav-item a:before {
  left: 0;
  top: 0;
  border-left: 2px solid #ea703d;
  border-top: 2px solid #ea703d;
  transform: translate(100%, 50%);
}
.nav-item a:after {
  right: 0;
  bottom: 0;
  border-right: 2px solid #ea703d;
  border-bottom: 2px solid #ea703d;
  transform: translate(-100%, -50%);
}
.nav-item a:hover {
  color: #201e29;
  font-weight: 500;
}
.nav-item a:hover:before,
.nav-item .current a:before,
.nav-item a:hover:after,
.nav-item .current a:after {
  transform: translate(0%, 0%);
  opacity: 1;
}
main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  padding-top: 120px;
}
.standart-block {
  margin: 64px auto;
  height: fit-content;
}
.invitation-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
}
.invitation-block img {
  width: 30%;
  height: 30%;
  border-radius: 50%;
}
.invitation-block-text {
  margin: 32px 0;
}
.invitation-block-text h1,
h2 {
  width: fit-content;
  margin: 0 auto;
}
.invitation-block-text h1 {
  margin-top: 16px;
}
.invitation-block-text h2:before {
  color: #ea703d;
  content: "<";
  margin-right: 4px;
}
.invitation-block-text h2:after {
  color: #ea703d;
  content: "/>";
  margin-right: 4px;
}
.invitation-block-text p {
  margin: 32px auto 16px auto;
}
.invitation-block-buttons {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-between;
  margin-bottom: 32px;
}
/*todo: convert skill-block into slider*/
/*Skills block*/
.skills-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.block-name {
  margin: 40px 0 30px 0;
  width: fit-content;
  color: #201e29;
}
.block-name:before {
  color: #ea703d;
  content: "<";
  margin-right: 3px;
}
.block-name:after {
  color: #ea703d;
  content: "/>";
  margin-left: 3px;
}
.skills-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}
.skills-card {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  width: 100px;
  height: 130px;
  padding: 20px 20px;
  align-items: center;
  text-align: center;
}
.skills-card h5 {
  margin: 20px 0;
}
.skills-card img {
  height: 60px;
  width: 60px;
}
.skills-card:hover {
  box-shadow: 0px 4px 14px 1px rgba(0, 0, 0, 0.16);
  transition: 300ms;
}
.skills-card:hover img {
  height: 70px;
  width: 70px;
  transition: 300ms;
}
.skills-card:hover h5 {
  font-size: 18px;
  transition: 300ms;
}
/*Experience & Education blocks*/
.exp-block,
.education-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.exp-block .block-name,
.education-block .block-name,
.contacts-block .block-name {
  margin: 24px 0 32px auto;
}
.exp-info {
  position: relative;
  display: flex;
  flex-direction: row;
}
.exp-companies,
.education-places {
  display: flex;
  flex-direction: column;
}
.exp-company {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-left: 2px solid #ea703d;
  margin: 0 24px;
  padding: 24px 0 24px 48px;
}
.exp-company:before {
  position: absolute;
  display: block;
  top: 50%;
  left: -15px;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ea703d;
}
.education-place {
  position: relative;
  display: flex;
  flex-direction: column;
  height: fit-content;
  border-left: 2px solid #ea703d;
  margin: 0 24px;
  padding: 24px 0 24px 48px;
}
.education-place:before {
  position: absolute;
  display: block;
  top: 40%;
  left: -16px;
  content: "";
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ea703d;
}

.exp-separator,
.education-separator {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 16px;
  color: #ea703d;
  margin: 0 8px 0 8px;
}
.exp-duties {
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}
/*Projects block*/
.proj-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.proj-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
}
.proj-row a,
.proj-row a:hover,
.proj-row a:active,
.contacts-row a,
.contacts-row a:hover,
.contacts-row a:active {
  text-decoration: none;
  color: #201e29;
}
.proj-card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 384px;
}

.proj-card h6 {
  position: absolute;
  right: 0;
}
.proj-card-text {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}
.proj-card-text h4 {
  padding-bottom: 16px;
  border-bottom: 2px solid #ea703d;
}
.proj-card-text p {
  margin: 16px auto 0 auto;
}
.proj-card:hover {
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.16);
}
/*Languages block*/
.lang-block {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;
}
.lang-row {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 80%;
  justify-content: space-between;
}
.lang-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.lang-card img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.16);
}
.lang-card-text {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 24px;
}
.lang-card-text p {
  width: 100%;
  border-top: 2px solid #ea703d;
  padding-top: 16px;
}
/*Contacts block*/
.contacts-block {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.contacts-row {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;
}
.contacts-left {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 40%;
}
.contacts-left p {
  margin: 24px 0;
}
.contacts-info {
  margin: 16px 0;
}
.contacts-info i {
  margin-right: 16px;
  color: #201e29;
}
.fa-map-marker,
.fa-phone {
  margin-left: 8px;
}
.contacts-right {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 50%;
  justify-content: space-between;
}
.contacts-right img {
  height: 80px;
  width: 80px;
}
.contacts-card {
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 24px 32px;
}
.contacts-card:hover {
  box-shadow: 0px 4px 16px 2px rgba(0, 0, 0, 0.16);
}
.contacts-right h5 {
  margin: 16px auto;
}
/*Footer zone*/
footer {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  height: fit-content;
  width: 100%;
  border-top: 2px solid #201e29;
  padding: 24px;
}
footer .copyright {
  text-align: center;
}
.footer-git-link {
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 15%;
  background-color: #fff;
  align-items: center;
  justify-content: space-between;
}
footer img {
  height: 64px;
}
.footer-git-link img {
  width: 64px;
}
